---
import imgss from '../img/blog7.jpg';
import imgBlog from '../img/impostor.webp';
---

<div class='bg-white border rounded-lg overflow-hidden max-w-xs'>
  <img src={imgBlog} alt='' class='mx-auto' />
  <div class='p-6'>
    <h4 class='font-semibold text-xl'>My title</h4>
    <div class='text-gray-600 text-xs uppercase font-semibold tracking-widest'>
      <p>Content</p>
    </div>
    <div class='flex justify-between text-black'>
      <p>author</p>
      <p>date</p>
    </div>
    <p class='text-black'>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas
      corporis dolore aspernatur, incidunt ratione cupiditate! Sit tenetur neque
      velit asperiores!
    </p>
  </div>
</div>
