<!-- Top Right -->
<div
  class='w-36 aspect-square absolute -top-2 -right-2 overflow-hidden rounded-sm'
>
  <div class='absolute h-2 w-2 top-0 left-0 bg-amber-500'></div>
  <div class='absolute h-2 w-2 bottom-0 right-0 bg-amber-500'></div>
  <a
    href=''
    class='bg-amber-300 text-amber-800 uppercase block w-square-diagonal absolute bottom-0 right-0 rotate-45 origin-bottom-right text-center font-bold py-1.5 tracking-wider text-xs shadow-sm hover:bg-yellow-300'
    >My cool ribbon</a
  >
</div>
<!-- Top Left -->
<div
  class='w-24 aspect-square absolute -top-2 -left-2 overflow-hidden rounded-sm'
>
  <div class='absolute h-2 w-2 bottom-0 left-0 bg-green-500'></div>
  <div class='absolute h-2 w-2 top-0 right-0 bg-green-500'></div>
  <a
    href=''
    class='bg-green-300 text-amber-800 uppercase block w-square-diagonal absolute bottom-0 left-0 -rotate-45 origin-bottom-left text-center font-bold py-1.5 tracking-wider text-xs shadow-sm hover:bg-emerald-300'
    >Top Left</a
  >
</div>
<!-- Bottom Left -->
<div
  class='w-32 aspect-square absolute -bottom-2 -left-2 overflow-hidden rounded-sm'
>
  <div class='absolute h-2 w-2 top-0 left-0 bg-purple-500'></div>
  <div class='absolute h-2 w-2 bottom-0 right-0 bg-purple-500'></div>
  <a
    href=''
    class='bg-purple-300 text-amber-800 uppercase block w-square-diagonal absolute top-0 left-0 rotate-45 origin-top-left text-center font-bold py-1.5 tracking-wider text-xs shadow-sm hover:bg-violet-300'
    >Bottom Left</a
  >
</div>
<!-- Bottom Right -->
<div
  class='w-24 aspect-square absolute -bottom-2 -right-2 overflow-hidden rounded-sm'
>
  <div class='absolute top-0 right-0 bg-cyan-500 h-2 w-2'></div>
  <div class='absolute bottom-0 left-0 bg-cyan-500 h-2 w-2'></div>
  <a
    href='#'
    class='py-1.5 bg-cyan-300 text-cyan-800 font-semibold uppercase text-xs tracking-wider block w-square-diagonal text-center absolute top-0 right-0 -rotate-45 origin-top-right shadow-sm hover:bg-sky-300'
  >
    Bottom right
  </a>
</div>
